<html>
    <head>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" type= "text/css" href="/css/style-home.css">
        <base href="/">

        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1 class="center-align">To Do App</h1>
        <div class="container">
            <div class="row">
                <form class="col s12 " id="add-form">
                    <div class="row">
                        <div class="input-field col s12">
                          <input placeholder="What do you need to do?" id="form-description" type="text" class="validate">
                          <label for="form-description">Description</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <select>
                              <option value="" disabled selected>Choose a category</option>
                              <option value="1">Option 1</option>
                              <option value="2">Option 2</option>
                              <option value="3">Option 3</option>
                            </select>
                            <label>Category</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="form-due-date" type="text" class="datepicker">
                            <label for="form-due-date">Due Date</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3 offset-s3 right-align">
                            <button class="btn-large waves-effect waves-light" type="submit" form="add-form" name="action">Add Task
                                <i class="material-icons left">add</i>
                        </div>
                        <div class="col s3 ">                 
                            <button class="btn-large waves-effect waves-light" type="submit" form="del-form" name="action">Delete
                                <i class="material-icons left">delete</i>
                            </button>
                        </div>
                    </div>
                </form>
                <form class="col s12" id=del-form>
                    <div class="container">
                    <!-- Tasks on loop -->
                        <div class="row valign-wrapper add-border" ">
                            <div class="col">
                                <label class= "col s1" for="test-cb">
                                    <input type="checkbox" class="filled-in" checked="checked" id=test-cb />
                                    <span>
                                    </span>
                                </label>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <h6 class="left-align">Task1</h6>
                                </div>
                                <div class="row">
                                    <i class="material-icons left">event</i>line1
                                </div>
                            </div>
                            <div class="col pink lighten-4 offset-s5">
                                PERSONAL
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/todo-home.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>